
body {
	 font-family: 'Montserrat';font-size: 22px;
}

header {
	background: black;
	padding: 20px 0;
}


.logo {
	width: 120px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: -10px auto;
}
nav {
	position: absolute;
	top:80px;
	right: 0;

}
nav li {
	display: inline;
	margin: 0 0 0 15px;

}

nav a {
	text-transform: uppercase;
	color: #DAA520;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;


}

nav a:hover {
	color: grey;
	text-decoration: underline;
}

.produto ul {
	display: flex;


	
}

.bolas {
	width: 50%;
	margin: 0 0 0 -3px;
	vertical-align: center;
}


.produto li:hover {
	border-color: #DAA520;
	
}


.tamanho-img {
	
	width: 150px;


}



footer {
	text-align: center;
	background: black;

}
.texto-rodape {
	text-align: center;
	font-size: 16px;
	color: white;
	vertical-align: top;
	margin: -30px 400px;
}

.rodape {
	width: 80px;
	text-align: center;
	padding: 0 0 -30px;

}



main {
	width: 940px;
	margin: 40px auto;

}

form {
	margin: 40px 0;
	
	
}

form label, p {
	display: flex;
	font-size: 16px;
	margin: 0 0 10px;

}

.input-padrao {
	
	margin: 0 0 20px;
	padding: 9px 15px;
	width: 40%;
}

.enviar {
	width: 30%;
	padding: 15px 0; 
	background: #DAA520;
	font-weight: bold;
	font-transform: uppercase;
	border: none;
	border-radius: 10px;
	transition: 2s;

}

.enviar:hover {
	background: black;
	color: white;
}



.mensagem-contato div {
	
 	vertical-align: top;
	text-align: top;
	width: 40%;
	margin: 0 1.5%; 
	padding: 20px 20px;
	
	
}

main ul {
	width: 500px;
	display: inline-flex;
	margin: 0 auto;
}

.min {
	width: 150px;
	padding: 30px;
	margin-left: -50px;
	margin-top: 50px;
}



